.App {
  text-align: center;
  display: flex;
  background: rgb(15, 180, 180);
  height: 100vh;
  width: 100vw;
  justify-content: space-around;
}
.App>h2{
  color:#fff;
}
.videoPlayer{
  position: fixed;
  
  object-fit: fill;
  box-shadow: 10px 10px 10px 10px #fff, -10px -10px 10px 10px #fff;
    border-radius: 6px;
}
.q1{
  top:4px;
  left:4px;
}
.q2{
  top:4px;
  right:4px;
}
.q3{
  bottom:4px;
  left:4px;
}
.q4{
  bottom:4px;
  right:4px;
}

